<img width="300" src="./assets/codenares.jpeg" (onClick)="reset()"/>

<div class="calculator">
  <input name="resultinput" type="text" disabled [(ngModel)]="result">
  <br>
  <input name="button1" type="button" value="1" (click)="click('1')">
  <input name="button2" type="button" value="2" (click)="click('2')">
  <input type="button" value="3" (click)="click('3')">
  <input name="buttonadd"  type="button" value="+" (click)="click('+')">
  <br>
  <input type="button" value="4" (click)="click('4')">
  <input type="button" value="5" (click)="click('5')">
  <input type="button" value="6" (click)="click('6')">
  <input type="button" value="-" (click)="click('-')">
  <br>
  <input type="button" value="7" (click)="click('7')">
  <input type="button" value="8" (click)="click('8')">
  <input type="button" value="9" (click)="click('9')">
  <input type="button" value="*" (click)="click('*')">
  <br>
  <input type="button" value="0" (click)="click('0')">
  <input type="reset" value="c" (click)="reset()">
  <input type="button" value="/" (click)="click('/')">
  <input name="buttonequal" type="button" value="=" (click)="click('=')">
</div>
<router-outlet></router-outlet>
