
<div class="calculator">
  <input name="resultinput" type="text" disabled [(ngModel)]="result">
  <br>
  <input name="button1" type="button" value="1" (click)="click('1')">
  <input name="button2" type="button" value="2" (click)="click('2')">
  <input name="button3"  type="button" value="3" (click)="click('3')">
  <input name="buttonadd"  type="button" value="+" (click)="click('+')">
  <br>
  <input name="button4"  type="button" value="4" (click)="click('4')">
  <input name="button5"  type="button" value="5" (click)="click('5')">
  <input name="button6"  type="button" value="6" (click)="click('6')">
  <input name="buttonminus" type="button" value="-" (click)="click('-')">
  <br>
  <input name="button7"  type="button" value="7" (click)="click('7')">
  <input name="button8"  type="button" value="8" (click)="click('8')">
  <input name="button9"  type="button" value="9" (click)="click('9')">
  <input name="buttonmult" type="button" value="*" (click)="click('*')">
  <br>
  <input name="button0"  type="button" value="0" (click)="click('0')">
  <input name="buttonreset" type="reset" value="c" (click)="reset()">
  <input name="buttondiv" type="button" value="/" (click)="click('/')">
  <input name="buttonequal" type="button" value="=" (click)="click('=')">
  <br>
  <input name="buttonpi"  type="button" value="pi" (click)="click('pi')">
  <img width="200" src="./assets/codenares.jpeg"/>
</div>
<router-outlet></router-outlet>
